// poppins font 
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Red+Rose&display=swap');

/*poppins font family  
font-family: 'Poppins', sans-serif;
font-family: 'Red Rose', cursive; 
*/

// Fira Sans font 
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

/*poppins font family  
font-family: 'Fira Sans', sans-serif;
*/
